:root {
        --black-color: #000;
        --white-color: #fff;
}

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');

html {
        background-color: var(--black-color);
        font-family: 'DM Sans', sans-serif;
        color: var(--white-color);
}

*,
*::after,
*::before {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        color: inherit;
        font-family: inherit;
        line-height: inherit;
        text-decoration: none;
}


#logo-cont {
        position: relative;
        top: 8px;
        width: 70px;
        height: 70px;
        padding: 0px;
        overflow: hidden;
        transition: 1s;
        cursor: pointer;
}

#menu {
        display: block;
        position: fixed;
        width: fit-content;
        height: 50px;
        left: 50%;
        transform: translate(-50%, 0);
        z-index: 50;
}


#logo-cont img {
        width: 70px;
}

img {
        width: 280px;
        border-radius: 2rem;
}

.menu-item {
        position: relative;
        display: inline-block;
        padding: 2px;
        top: -24px;
        transition: 200ms;
}

#sets {
        text-align: center;
        width: fit-content;
        cursor: pointer;
        padding: 4px;
        width: 60px;
        border-radius: 9999px;
}

#list {
        text-align: center;
        width: fit-content;
        cursor: pointer;
        padding: 4px;
        width: 60px;
        border-radius: 9999px;
}

#sets:hover {
        background-color: var(--white-color);
        color: var(--black-color);
}

#list:hover {
        background-color: var(--white-color);
        color: var(--black-color);
}

#logos-cont {
        max-width: 901px;
        display: grid;
        grid-gap: 30px;
        gap: 30px;
        grid-auto-flow: dense;
        grid-template-columns: 280px 280px 280px;
        grid-auto-rows: 360px;
        position: relative;
        top: 200px;
        left: 50%;
        transform: translate(-50%, 0);
}

.img-cont {
        display: inline-block;
        width: fit-content;
        height: fit-content;
        border: 2px solid var(--white-color);
        border-radius: 2rem;
        margin-top: 30px;
        grid-column: span 1;
        grid-row: span 1;
}

.big-right {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
}

.side-left {
        grid-column: 1 / 2;
        grid-row: 3 / 3;
}

.big {
        width: 590px;
}

#blank {
        display: block;
        position: fixed;
        width: 100%;
        height: 120px;
        background: linear-gradient(to bottom, var(--black-color)30%, rgba(0,0,0,0) 100%);
        z-index: 40;
}