:root {
        --bg-color: #000;
        --p-color: #fff;
        --s-color: #00000080;
}

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');


@media (prefers-color-scheme: dark) {
        :root {
                --bg-color: #000;
                --p-color: #fff;
        }

        .reversed {
                filter: invert(0);
        }

        .bd-2 {
                border: 2px solid var(--p-color);
        }

        ::-webkit-scrollbar-track {
                background: var(--bg-color);
        }

        ::-webkit-scrollbar-thumb {
                background: var(--p-color);
        }
}



@media (prefers-color-scheme: light) {
        :root {
                --bg-color: #fff;
                --p-color: #000;
        }

        .reversed {
                filter: invert(1);
        }

        .bd-2 {
                border: 2px solid var(--bg-color);
        }

        ::-webkit-scrollbar-track {
                background: var(--bg-color);
        }

        ::-webkit-scrollbar-thumb {
                background: var(--p-color);
        }
}

::-webkit-scrollbar {
        width: 5px;
        transition: 200ms;
}

::-webkit-scrollbar-thumb {
        background: var(--p-color);
        border-radius: 10px;
}

html {
        background-color: var(--bg-color);
        font-family: 'DM Sans', sans-serif;
        color: var(--p-color);
        scroll-behavior: smooth;
        transition: 800ms;
}

*,
*::after,
*::before {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        color: inherit;
        font-family: inherit;
        line-height: inherit;
        text-decoration: none;
}


#logo-cont {
        position: relative;
        top: 8px;
        width: 70px;
        height: 70px;
        padding: 0px;
        overflow: hidden;
        transition: 1s;
        cursor: pointer;
        transition: 800ms;
}

#menu {
        display: block;
        position: fixed;
        width: fit-content;
        height: 50px;
        left: 50%;
        transform: translate(-50%, 0);
        z-index: 50;
        transition: 800ms;
}


#logo-cont img {
        width: 70px;
        border: none;
        transition: 800ms;
}

img {
        width: 280px;
        border-radius: 2rem;
        transition: 800ms;
}

.menu-item {
        position: relative;
        display: inline-block;
        padding: 2px;
        top: -24px;
        transition: 200ms;
}

#sets {
        text-align: center;
        width: fit-content;
        cursor: pointer;
        padding: 4px;
        width: 60px;
        border-radius: 9999px;
}

#list {
        text-align: center;
        width: fit-content;
        cursor: pointer;
        padding: 4px;
        width: 60px;
        border-radius: 9999px;
}

#sets:hover {
        background-color: var(--p-color);
        color: var(--bg-color);
}

#list:hover {
        background-color: var(--p-color);
        color: var(--bg-color);
}

#logos-cont {
        max-width: 901px;
        display: grid;
        grid-gap: 30px;
        gap: 30px;
        grid-auto-flow: dense;
        grid-template-columns: repeat(3, 280px);
        grid-auto-rows: 360px;
        position: relative;
        top: 200px;
        left: 50%;
        transform: translate(-50%, 0);
}

.hidden {
        opacity: 0;
        transition: all 1s;
}

.visible {
        transform: translateY(-10px);
        opacity: 1;
}

.img-cont {
        display: inline-block;
        width: fit-content;
        height: fit-content;
        margin-top: 30px;
        grid-column: span 1;
        grid-row: span 1;
}

.grid-col-span-2 {
        grid-column: span 2;
}

.grid-row-span-2 {
        grid-row: span 2;
}

.big {
        width: 590px;
}

#blank {
        display: block;
        position: fixed;
        width: 100%;
        height: 120px;
        background: linear-gradient(to bottom, var(--bg-color)30%, rgba(0, 0, 0, 0) 100%);
        z-index: 40;
        transition: 800ms;
}

@media (prefers-reduced-motion) {
        .hidden {
                transition: none;
        }
}